node_modules/
.expo/
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
veda-web-core/
.idea/
.vscode/
app/node_modules/
app/.expo/
app/dist/
server/node_modules/
.env

linko-14235-*.json
